body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.app {
    font-family: "Roboto Mono", monospace;
    padding: 0px;
    height: 100%;
    margin: 0px;
}

.header {
    background: #46474b;
    padding: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.social__logo {
    width: 45px;
    margin: 0 10px;
    border-radius: 5px;
    transition: 0.5s transform ease-in-out;
}

.social__logo:hover {
    transform: scale(1.2);
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
}

.button {
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.page-subtittle {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.cartas-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.carta {
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 368px 265px;
    background-repeat: no-repeat;
    background-position-x: 35px;
    background-position-y: 44px;
    border-radius: 60px;
}

.versus img {
    height: 200px;
    width: 200px;
}

.carta-subtitle {
    position: absolute;
    top: 33px;
    left: 60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.carta-status {
    background-color: #605454;
    position: absolute;
    bottom: 60px;
    right: 36px;
    padding: 78px 128px;
    background-position: center;
    display: block;
    align-items: stretch;
    border-radius: 5px;
}

.resultado-final {
    display: inline-flex;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;
}